
.homePageSect{
    display:flex;
    flex-direction: row;
}

p{
    font-family: Lato;
}

button {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background-color:#fcb35f;
	border-radius:2px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-size:15px;
	font-weight:bold;
	padding:7px 59px;
	text-decoration:none;
}

button:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #bbb270 100%);
	background-color:#ffab23;
}
button:active {
	position:relative;
	top:1px;
}

        
