* {
    box-sizing: border-box;
  }

  body {
    font-family: "Open Sans",
    sans-serif; 
    margin: 0;
    padding: 0;
    color: #444;
    line-height: 1.25;
    display: inline;
    font-size: 18px;
  }

  nav,
  footer {
    padding: .20% 0;
    height: 45px;
    background-color: #68d9a9;
  }

  footer {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    font-size: 15px;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  ul.nav{
    text-decoration: none;
  }

  h2{
    font-size: 20px;
  }
  .compass{
    width: 200px;
    height: 400px;
    padding-top: 50px; 
    margin-left: 20px;
}