* {
    box-sizing: border-box;
  }

  header{
    display: block;
  }

  
  body {
    font-family: 'Alegreya';
    margin: 0;
    padding: 0;
    color: #444;
    line-height: 1.25;
    display: inline;
    font-size: 18px;
  }

  nav,
  footer {
    padding: .10% 0;
    height: 45px;
    background-color: #68d9a9;
  }

  footer {
    position:fixed;
    left:0;
    bottom:0;
    right:0;
    font-size: 15px;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  ul.nav{
    text-decoration: none;
  }

  h2{
    font-size: 16px;
    display:flex;
  }

  .compass{
    width: 200px;
    height: 400px;
    padding-top: 50px; 
    margin-left: 20px;
}
  img.compass{
    margin: 50px;
} 
  .header{
    padding: 150px;
    margin-top: 50px;
    width: 500px;
}


@media screen and (min-width:600px) {
    
  h2{
    font-size: 20px;
  }

  .header{
    width: 1000px;
  }
}
